@font-face {
  font-family: "Cerebri Sans";
  src: url(Cerebri/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(Cerebri/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(Cerebri/CerebriSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(Cerebri/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
